body {
  	font-weight: 400;
  	font-family: 'Roboto', sans-serif;
  	color: #545464;
  	background-color: white;
  }

body a:hover {
	text-decoration: underline;
	color: yellow;
}

body a {
	color: #FFEE93;
	font-weight: 400;
}


p {
	font-size: 1rem;
}

h2, h3, h4, h5 {
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  color: white;
}

.blog-link {
	color: #545464;
	font-weight: 700;
	text-decoration: none;
}

.post-author-link {
	font-weight: 400;
	text-decoration: underline;
	color: #FC9E4F;
}

.blog-description {
	font-weight: 100;
}

.post-title {
	font-weight: 700;
	font-size: 40px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	color: #545464;

}

.bg-start-sub {
	color: #0D001A;
	background-color: white;
	background-image: linear-gradient(to bottom,rgba(32, 30, 92, 0.9), rgba(32, 30, 92, 0.0),rgba(32, 30, 92, 0.4),rgba(32, 30, 92, 0.7)), url("../image/champion-unsplash.jpg");
	background-size: cover;
	height: 400px;
}



h1 {
	font-weight: 700;
	font-size: 1.9rem;
	font-family: 'Yanone Kaffeesatz', sans-serif;

/*	font-size: 2.5rem;*/
}


footer {
	background-color: #ff7f86;
	color: white;
}

img {
	object-fit: cover;
}

.quote {
	font-style: italic;
	font-weight: 400;
}

.name {
	font-weight: 700;
	font-size: 80px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	color: rgb(255, 127, 134);
	padding-top: 0;
	margin-top: 0px;
	padding-bottom: 0;
	margin-bottom: 0;
}

.name-small {
	font-weight: 700;
	font-size: 40px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	color: white;
}


.bg-start{
	color: #2B3A67;
	background-color: #2B3A67;
	background-image: linear-gradient(to bottom,rgba(255, 249, 214, 0.7), rgba(255, 249, 214, 0.9)), url("../image/champion-unsplash.jpg");
	background-size: cover;
	height: 600px;
}

.bg-start-blog {
	color: #0D001A;
	background-color: white;
		background-image: linear-gradient(to bottom,rgba(255, 249, 214, 0.7), rgba(255, 249, 214, 0.9)), url("../image/champion-unsplash.jpg");
	height: 350px;
}

.headline {
	color: #4f4789;
	font-weight: 700;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}


.bg-start p {
	font-weight: 300;
	font-size: 25px;
	color: #0D001A;
}

.bg-start.small{
	height: 600px;
}

.bg-start.oneline {
	height: 500px;
}

.project-banner {
	color: white;
	/*background-color: rgba(255, 255, 255, 0.87);*/
	background-color: rgba(207, 2, 121, 0.9);
	border-color: red;
	border-width: 10px;
/*	height: 250px;*/
	margin-top: 80px;
	border-radius: 5px;
	border-radius: 5px;
}


.bg-dark {
	color: white;
	background-color: #0D001A;
/*	background-image: linear-gradient(to bottom,rgba(3, 188, 150, 0.95),rgba(3, 154, 123, 0.95)), url("../lion_2.png");
*/
}


.bg-grey {
	color: black;
	background-color: #c0d6df;
}

.bg-shade {
	background-color: #545464;
	color: white;

}

.bg-medium {
	color: black;
	background-color: #e4dafb;
}

.bg-column {
	/*color: rgba(207, 2, 121, 1.0);*/
	color: #545464;
	background-color: white
}


.bg-column h3 {
	font-weight: 400;
}

.projects  {
	color: #20063B;
	background-color: white;
	padding: 2vw;
	margin-left: 8vw;
	border-top-right-radius: 3px;
	border-bottom-left-radius: 3px;
}


.bg-footer {
	color: white;
	background-image: #ff7f86;
	background-size: 1400px;
	border: none;
	padding-top: 2%;
	padding-bottom: 2%;
	z-index: 1000;
}

.footer-elem{
	margin: 0px;
	padding-bottom: 5px;
	padding-top: 5px;
	color: white;
	background-color: #ff7f86;
}

.bg {
	background-color: #ff7f86;
}

hr.haar {
	border: 0;
    height: 20px;
    width: 10vw;
    background: #FFE41E;
    margin: 0 auto;
    margin-left: 0vw;
}

hr.haar-pink {
	border: 0;
    height: 20px;
    width: 10vw;
    background: transparent;
    margin: 0 auto;
    margin-left: 0vw;
}

hr.haar-h {
	border: 0;
    height: 2px;
    width: 65vw;
    background: #0D001A;
    
    margin: 0 auto;
    margin-left: 18vw;
}

hr.haar-y {
	border: 0;
    height: 2px;
    width: 65vw;
    background-color: #0D001A;
/*    background: #6d37e9;*/
/*    margin-bottom: 30px;*/
    margin: 0;
    margin-left: 18vw;
/*    margin: 0 auto;
    margin-bottom: 5px;*/
}


hr.haar-p {
	border: 0;
    height: 30px;
    width: 30px;
    background: #FC9E4F;
    margin-top: 3px;
    margin-bottom: 10px;
}


.contact-align {
	text-align: center;
}

.nav-bottom {
	background-color: white;
	color: #545464;
	font-weight: 500;
}

.nav-bottom a{
	color: white;
	font-weight: 700;
	text-decoration: underline;
}

.nav-bottom a:hover {
	color: white;
	font-weight: 500;
}



.team h3 {
	font-weight: 700;
}

.team {
	color: #20063B;
	padding: 0px;
	height: 250px;
	margin: 0 auto;
	border-top-right-radius: 3px;
	border-bottom-left-radius: 3px;
}


.team-img {
	height: 20vh;
	width: 20vh;
	padding: 50px;
	margin-top: 30px;
	border-radius: 2px;
}


.block-img {
	 overflow: hidden;
}


.button {
	background-color: #6d37e9;
	padding: 20px 50px 20px 50px;
	border-radius: 3px;
	border: solid;
	border-color: transparent;
	border-width: 1px;
	color: white;
	font-weight: 400;
	font-size: 1.3rem;
  	text-align: center;
  	display: relative;
  	vertical-align: bottom;
  	text-decoration-style: none;
}


.nav-item {
	/*background-color:rgba(186,2,109,0.5);*/
	background-color: #ff7f86;
	color: white;
	width: 90%;
	padding-left: 5%;
	padding-right: 5%;
	text-align: right;
}

.nav-item a {
	/*color:#1FBFB7;*/
	color: #FFEE93;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight: 700;
	text-decoration: none;
}

.logo a {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight: 700;
	font-size: 30px;
	color: #0D001A;
}



@media screen and (max-width: 920px) {
	.bg-start {
		height: 900px;
	}

	.projects {
		height: 700px;
		padding: 10px;
	}

	.team {
		height: 500px;
		margin: 20px;
	}

	.name {
		font-weight: 700;
		font-size: 2.5rem;
	}

	h1 {
		font-weight: 700;
		font-size: 1.5rem;

	}

}
